*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #f0f2f5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 100vh;
}
.left{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px;
    margin-bottom: 170px;
}
.left h1{
    color: #1877f2;
    font-size: 57px;
    font-weight: 790;
    margin-left: 5px;
    font-family: Arial, Helvetica, sans-serif;
}
.left p{
    margin-top: 5px;
    font-size: 28px;
    font-weight: normal;
}
.right{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 60px;
}
.wrapper{
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    background: #fff;
    box-shadow: 0 0 5px 2px rgb(214, 209, 209);
    width: 390px;
    height: 350px;
    border-radius: 5px;
    margin-bottom: 10px;
}
.wrapper input{
    width: 350px;
    height: 53px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(223, 221, 221);
    text-align: start;
    padding: 10px;
    font-size: 16px;
    outline: none;
}
input:focus{
    border: 1px solid #1877f2;
}
.inputBox{
    margin-top: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.wrapper .login{
    width: 355px;
    height: 48px;
    margin-top: 12px;
    border-radius: 5px;
    border: none;
    outline: none;
    background: #1877f2;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}
.wrapper a{
    font-size: 13px;
    margin-top: 15px;
    text-decoration: none;
    color: #3a97f5;
}
.wrapper a:hover{
    text-decoration: underline;
}
.wrapper .Naccount{
    width: 200px;
    height: 48px;
    margin-top: 25px;
    border: none;
    outline: none;
    background: #42b72a;
    color: #fff;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
.wrapper .Naccount:hover{
    background: #3faa29;
}
.right h6{
    margin-top: 20px;
    font-size: 14px;
    font-weight: normal;
}
.right h6 a{
    font-weight: bold;
    font-size: 14px;
    color: black;
    text-decoration: none;
}
.right h6 a:hover{
    text-decoration: underline;
}
.right hr{
    width: 350px;
    margin-top: 22px;
    border-top: 1px solid rgb(214, 209, 209);
}